@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides
$primary: #3c6997;
$secondary: #f49e4c;
$enable-shadows: true;

$alert-padding-y: 0.5rem;

.alert {
    width: fit-content;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
    object-position: 50% 50%;
}

.item_custom_width {
    width: 100%;

    @media screen and (min-width: 576px) {
        width: 50% !important;
    }
}

// .raceItem {
//     max-width: 95%
// }

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional Bootstrap components
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/alert";